@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-Light.ttf');
    font-weight: 300;
    font-stretch: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro.ttf');
    font-weight: 400;
    font-stretch: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-Medium.ttf');
    font-weight: 500;
    font-stretch: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-Bold.ttf');
    font-weight: 700;
    font-stretch: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-Black.ttf');
    font-weight: 900;
    font-stretch: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-LightItalic.ttf');
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-Italic.ttf');
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-MediumItalic.ttf');
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-BoldItalic.ttf');
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-BlackItalic.ttf');
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedLight.ttf');
    font-weight: 300;
    font-stretch: condensed;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-Condensed.ttf');
    font-weight: 400;
    font-stretch: condensed;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedMedium.ttf');
    font-weight: 500;
    font-stretch: condensed;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedBold.ttf');
    font-weight: 700;
    font-stretch: condensed;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedBlack.ttf');
    font-weight: 900;
    font-stretch: condensed;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedLightItalic.ttf');
    font-weight: 300;
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedItalic.ttf');
    font-weight: 400;
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedMediumItalic.ttf');
    font-weight: 500;
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedBoldItalic.ttf');
    font-weight: 700;
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('./fonts/DINPro/DINPro-CondensedBlackItalic.ttf');
    font-weight: 900;
    font-stretch: condensed;
    font-style: italic;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url('./fonts/SourceHanSans/SourceHanSansSC-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url('./fonts/SourceHanSans/SourceHanSansSC-Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url('./fonts/SourceHanSans/SourceHanSansSC-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url('./fonts/SourceHanSans/SourceHanSansSC-Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'Source Han Sans';
    src: url('./fonts/SourceHanSans/SourceHanSansSC-Heavy.otf');
    font-weight: 900;
}