@import url('./font-face.css');

:root {
    --main-color: #05826F;
    --main-color-light:#05907B;
    --main-color-dark:#11594E;
    
    --second-color:#655A57;
    --second-color-light:#8D807C;
    --second-color-dark:#463E3C;

    --grey-color:#808080;
    --grey-light:#A0A0A0;
    --grey-color-dark:#404040;

    --text-black:#202020;
    --text-white:#FFFFFF;

    --content-margin: 50px;
    --border-radius: 2px;
    --content-width: calc(100% - 100px);
}
@media screen and (min-width: 1301px) {
    :root {
        --content-width: 1200px;
    }
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-black);
    font-family: 'DIN Pro', 'Source Han Sans';
    background-color: var(--background);
    min-width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: var(--second-color-dark);
    color: white;
}
.header-container {
    position: relative;
    box-sizing:border-box;
    height: 100%;
    margin: auto;
    width: var(--content-width);
    display: flex;
    align-items: flex-end;
}
.logo {
    width: 120px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
}
.topnav {
    display: flex;
    font-size: 16px;
    padding-bottom: 4px;
}
.topnav li a{
    border-bottom: 2px solid transparent;
    padding: 4px 8px 3px;
    color: white;
    text-decoration: none;
}
.topnav li:hover a {
    background-color: #FFFFFF20;
}
.topnav li.focus a {
    border-bottom: 2px solid var(--second-color-light);
}

.banner {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.banner-container {
    position: relative;
    height: 100%;
    width: var(--content-width);
    margin: auto;
}
.banner-logo {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 200px;
    height: 100px;
    background-image: url('./picture/TO-20211130.png');
    background-size: cover;
    background-position: center;
}
.banner-title {
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: 50px;
    font-weight: 500;
}
.banner-title-normal {
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: 40px;
    font-weight: 500;
}
.search-bar {
    width: 250px;
    height: 35px;
    background-color: #FFFFFFA0;
    padding: 0 5px 0;
    border-radius: var(--border-radius);
    backdrop-filter: blur(2px);
    position: absolute;
    right: 0;
    bottom: 20px;
}
.search-bar-input {
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    color: var(--second-color-dark);
}
.search-bar-input::placeholder {
    color: var(--second-color-light);
}
.content {
    margin: 0 var(--content-margin) 0;
    min-height: 500px;
    max-width: var(--content-width);
    margin: auto;
}
.side-content {
    width: 200px;
    flex-shrink: 0;
    padding-top: 20px;
}
.navbar {
    padding: 5px;
    width: 100%;
    background-color: #F0F0F0;
    border-radius: var(--border-radius);
}
.navbar ul li{
    padding: 3px 0;
    font-size: 14px;
    transition: color 0.2s ease;
}
.navbar ul li:hover{
    color: var(--second-color);
}
.navbox {
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 125px;
    background-color: #F0F0F0;
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
}
.navtitle{
    font-weight: bold;
}
.navtext{
    position: absolute;
    bottom: 5px;
    font-size: 14px;
}
.main-content {
    padding-left: 40px;
}

.card-container {
    flex-wrap: wrap;
}
.card {
    width: 200px;
    height: 200px;
    margin: 0 20px 0;
    color: var(--text-black);
}
.card img{
    border-radius: var(--border-radius);
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.textcard{
    border-radius: var(--border-radius);
    background-color: #F0F0F0;
}
.textcard h3{
    color: var(--second-color-dark);
}
.textcard p{
    color: var(--second-color);
}



.bottom {
    width: 100%;
    height: 100px;
    background-color: var(--second-color);
    color: white;
    font-weight: 300;
}
.bottom-container {
    padding-top: 5px;
    position: relative;
    height: 80px;
    width: var(--content-width);
    margin: auto;
}
.bottom-info {
    width: 100%;
    height: 20px;
    background-color: var(--second-color-dark);

}
.bottom-info-container {
    position: relative;
    height: 100%;
    width: var(--content-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
}



.content a {
    text-decoration: none;
    color: var(--second-color);
}

.content a.linkto {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.3s;
}
.flex {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input {
    font-family: 'DIN Pro', 'Source Han Sans';
}
section {
    position: relative;
}
pre {
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}